@import "./variable.css";
@import "./components/recipe_card";
@import "./components/recipe_details";
@import "./components/paragraph";
@import "./components/more_image";

.recipe-container-wrapper {
  .recipe-container-row {
    .recipe-column {
      padding-right: 5px !important;
      .recipe-card {
        height: 90vh !important;
        background-color: var(--menu-list-card-color) !important;
        .recipe-card-header {
          text-transform: uppercase;
          padding: 17px;
          display: flex;
          align-items: center;
          justify-content: center;
          h1 {
            font-size: 30px;
            margin: 0px;
            color: white;
          }
        }
      }
    }
    .recipe-details-column {
      padding-left: 5px !important;
      .recipe-details-card {
        background-color: var(--menu-details-card-color) !important;
        height: 90vh !important;
      }
    }
    .recipe-card,
    .recipe-details-card {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border: 1px solid #ddd;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
