.recipe-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  overflow: visible;
  position: relative;
  padding: 6px;
}

.recipe-card-img {
  height: 100%;
  width: 100%;
  overflow: visible;
  position: relative;
  border-radius: 4px;
}

.recipe-card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.recipe-card-img img:hover {
  transform: scale(1.4);
  z-index: 1;
}
